RewriteEngine On
RewriteRule ^sql-run index.php [L,QSA]
RewriteRule ^signup signup.php [L,QSA]
RewriteRule ^signin signin.php [L,QSA]
RewriteRule ^refresh-token refresh-token.php [L,QSA]
RewriteRule ^verify-token verify-token.php [L,QSA]